@*@model Tuple<Allomorph.Models.Folder, Allomorph.Models.Category, Allomorph.Models.Language, Allomorph.Models.SubFile>*@
@model Allomorph.Models.Folder


@{
    ViewBag.Title = "Senda inn skrá";
}

@{ Html.RenderPartial("Search"); }

<h2>Senda inn skrá</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FolderName, "Nafn:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FolderName)
                @Html.ValidationMessageFor(model => model.FolderName)
            </div>
            @*@Html.LabelFor(model => model.Item1.FolderName, "Folder Name:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item1.FolderName)
                    @Html.ValidationMessageFor(model => model.Item1.FolderName)
                </div>*@
        </div>
        <p>blabla</p>
        <div class="form-group">
            <input type="file" id="inputfile" />
            <span class="label"></span>
            <div class="col-md-10">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, "Linkur:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link)
                @Html.ValidationMessageFor(model => model.Link)
            </div>
            @*@Html.LabelFor(model => model.Item3.LanguageName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item4.SubName)
                    @Html.ValidationMessageFor(model => model.Item4.SubName)
                </div>*@

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poster, "Plakat:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poster)
                @Html.ValidationMessageFor(model => model.Poster)
            </div>
            @*@Html.LabelFor(model => model.Item2.CategoryName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item2.CategoryName)
                    @Html.ValidationMessageFor(model => model.Item2.CategoryName)
                </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            @*@Html.LabelFor(model => model.Item1.Description, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Item1.Description)
                    @Html.ValidationMessageFor(model => model.Item1.Description)
                </div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Item4.LastChange, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item4.LastChange)
                    @Html.ValidationMessageFor(model => model.Item4.LastChange)
                </div>*@
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Item4.LastChangedByUser, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Item4.LastChangedByUser)
                    @Html.ValidationMessageFor(model => model.Item4.LastChangedByUser)
                </div>*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Búa til" class="btn btn-success btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
