@model Tuple<Allomorph.Models.SubFile, Allomorph.Models.Category, Allomorph.Models.Language>


@{
    ViewBag.Title = "Senda inn skrá";
}

@{ Html.RenderPartial("Search"); }

<h2>Senda inn skrá</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">

            @Html.LabelFor(model => model.Item1.Folders.FolderName, "Folder Name:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.Folders.FolderName)
                @Html.ValidationMessageFor(model => model.Item1.Folders.FolderName)
            </div>
        </div>



       
        <div class="form-group">
            @Html.LabelFor(model => model.Item3.LanguageName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.SubName)
                @Html.ValidationMessageFor(model => model.Item1.SubName)
            </div>

        </div>



        <div class="form-group">

            @Html.LabelFor(model => model.Item2.CategoryName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item2.CategoryName)
                @Html.ValidationMessageFor(model => model.Item2.CategoryName)
            </div>
        </div>

        <div class="form-group">
            <input type="file" id="inputfile" />
            <div class="col-md-10">
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Item1.Folders.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Item1.Folders.Description)
                @Html.ValidationMessageFor(model => model.Item1.Folders.Description)
            </div>
        </div>












        <div class="form-group">
            @Html.LabelFor(model => model.Item1.LastChange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.LastChange)
                @Html.ValidationMessageFor(model => model.Item1.LastChange)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Item1.LastChangedByUser, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item1.LastChangedByUser)
                @Html.ValidationMessageFor(model => model.Item1.LastChangedByUser)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
