@model Tuple<Allomorph.Models.Request, IEnumerable<Allomorph.Models.Request>>

@{
    ViewBag.Title = "Beiðnir";
}

@{ Html.RenderPartial("Search"); }

<h2>Beiðnir</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1.RequestText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1.DateCreated)
        </th>
    </tr>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
            </tr>
        }

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.RequestText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.RequestText)
                @Html.ValidationMessageFor(tuple => tuple.Item1.RequestText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    
    </div>
    
}
