@model Allomorph.Models.Request

@{
    ViewBag.Title = "Beiðnir";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h2>Beiðnir</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
    </tr>
    @*@foreach(var req in Model.RequestList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => req.RequestText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.DateCreated)
            </td>
        </tr>
    }*@
    @*@{ Html.RenderPartial("RequestLoop"); }*@

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.RequestText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.RequestText)
                @Html.ValidationMessageFor(model => model.RequestText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    
    </div>
    
}
