@model Allomorph.Models.Folder

@{
    ViewBag.Title = "Senda inn";
}

@{ Html.RenderPartial("Search"); }

<h3>Senda inn texta</h3>

@using (Html.BeginForm("Create",
                        "Folder",
                        new { requestID = @ViewBag.requestId },
                        FormMethod.Post,
                        new { @enctype = "multipart/form-data" })) 
{         
    @Html.AntiForgeryToken()
    <div class="form-horizontal createForm">
        <br />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FolderName, "Nafn:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FolderName, new { @Value = @ViewBag.requestId != null ? @ViewBag.request.RequestName : "" })
                @Html.ValidationMessageFor(model => model.FolderName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "Flokkur:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryID,
                    new List<SelectListItem> {
                    new SelectListItem { Value = "1", Text = "Kvikmynd" },
                    new SelectListItem { Value = "2", Text = "Þáttur" },
                    new SelectListItem { Value = "3", Text = "Teiknimynd" },
                    new SelectListItem { Value = "4", Text = "Íslenskt efni" }
                    },
                new { @class = "btn btn-default btn-sm dropdown-toggle", style = "width:155px" })
                @Html.ValidationMessageFor(model => model.CategoryID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Link, "Linkur:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link)
                @Html.ValidationMessageFor(model => model.Link)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Poster, "Plakat:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Poster)
                @Html.ValidationMessageFor(model => model.Poster)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Lýsing", new { @class = "control-label col-md-2" })
            <div class="col-md-10 textAreaFor">
                @Html.TextAreaFor(model => model.Description, 4, 30, new { @class = "foo" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        @{ Html.RenderPartial("FileUpload", new Allomorph.Models.SubFile()); }
    </div>
}

<div>
    <input type="submit" value="Til baka í texta" class="btn btn-default btn-primary" onclick="location.href='@Url.Action("Index", "Folder")'" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
