@model Allomorph.Models.Folder

@{
    ViewBag.Title = "Eyða möppu";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Eyða @Model.FolderName</h3>

<h4>Ertu viss um að þú viljir eyða þessu?</h4>
<div>
    <hr />
    <dl id="deleteFolderDetails" class="dl-horizontal">
        <dt>
            @Html.Label(Model.FolderName, "Nafn:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FolderName)
        </dd>
        <dt>
            @Html.Label(Model.Link, "Linkur:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.Label(Model.Poster, "Plakat:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>
        <dt>
            @Html.Label(Model.Description, "Lýsing:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eyða" class="btn btn-default btn-success" /> |
            <input type="submit" value="Til baka í texta" class="btn btn-default btn-primary" onclick="location.href='@Url.Action("Index", "Folder")'" />
        </div>
    }
</div>
