    @model Tuple<Allomorph.Models.Folder, Allomorph.Models.SubFile, IEnumerable<Allomorph.Models.Comment>>

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search", Model.Item1); }


<h3>@Model.Item1.FolderName</h3>

<img src="@Model.Item1.Poster" alt="Ekki til mynd" width="320" height="320" />

<div id="btnRitstyring">
    <input type="submit" value="Ritstýring" class="btn btn-default btn-lg btn-success" onclick="location.href='@Url.Action("TextEdit", "Folder", new { id = Model.Item2.ID })'" />
</div>

<div>
    <dl class="dl-horizontal" id="folderTags">
        <dt>
            @Html.Label(Model.Item1.FolderName, "Nafn:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FolderName)
        </dd>

        <dt>
            @Html.Label(Model.Item1.Link, "Linkur:")
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.Item1.Link)">@Html.DisplayFor(model => model.Item1.Link)</a>
        </dd>

        <dt>
            @Html.Label(Model.Item1.Description, "Lýsing:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>
    </dl>
</div>

<div>
    <table class="table table-condensed table-bordered" id="folderContent">
        <tr class="active">
            <th>
                @Html.Label(Model.Item2.SubName, "Textaskrá")
            </th>
            <th class="folderLang">
                Enska
            </th>
            <th class="folderLang">
                Íslenska
            </th>
        </tr>
        <tr class="active">
            <td>
                @Html.DisplayFor(model => Model.Item2.SubName)
            </td>
            <td class="folderLang">
                <button class="glyphicon glyphicon-arrow-down btn btn-default btn-primary" onclick="location.href='@Url.Action("GetFile", "Folder", new { id = Model.Item2.FolderID, langid = 1 })'" />
            </td>
            <td class="folderLang">
                <button class="glyphicon glyphicon-arrow-down btn btn-default btn-primary" onclick="location.href='@Url.Action("GetFile", "Folder", new { id = Model.Item2.FolderID, langid = 2 })'" />
            </td>
        </tr>
    </table>
</div>
<div class="folderComments">
    <hr />
    <h3>Athugasemdir</h3>

    @{ Html.RenderPartial("ShowComments", Tuple.Create(Model.Item3, Model.Item1)); }
</div>
