@model Allomorph.Models.Folder

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search"); }

<h2>Upplýsingar um textaskrá</h2>


<img src="@Model.Poster" alt="Smiley face" width="420" height="420">
<div>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.BeginForm("CreateComment", "Folder", FormMethod.Post) { 
    { Html.Partial("Comment", model.Comments); }
}
