@model Tuple<Allomorph.Models.Folder, Allomorph.Models.SubFile, IEnumerable<Allomorph.Models.Comment>>

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }


<h2>@Model.Item1.FolderName</h2>

<img src="@Model.Item1.Poster" alt="Ekki til mynd" width="420" height="420">

<div>
    @Html.ActionLink("Ritstýring", "TextEdit", new { id = Model.Item2.ID })
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.Label(Model.Item1.FolderName, "Nafn:", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>

    </dl>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Subtitle name
                </th>
                <th>
                    language
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguageID)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "GetFile", new { id = item.ID }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Athugasemndir</h3>

@{ Html.RenderPartial("ShowComments", Tuple.Create(Model.Item3, Model.Item1)); }