@model Tuple<Allomorph.Models.Folder, IEnumerable<Allomorph.Models.SubFile>>

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h2>@Model.Item1.FolderName</h2>


<img src="@Model.Item1.Poster" alt="BAD POSTER" width="420" height="420">

<div>
    @Html.ActionLink("Ritstýring", "TextEdit", Model.Item1.ID)
</div>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.FolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Link)
        </dd>
        @*
    <dt>
        @Html.DisplayNameFor(model => model.Poster)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Poster)
    </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>

    </dl>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Subtitle name
                </th>
                <th>
                    language
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguageID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.BeginForm("CreateComment", "Folder", FormMethod.Post) { 
    { Html.Partial("Comment", model.Comments); }
}
