@model Tuple<Allomorph.Models.Folder, IEnumerable<Allomorph.Models.SubFile>, IEnumerable<Allomorph.Models.Comment>, IEnumerable<Allomorph.Models.Folder>>

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search", Model.Item1); }


<h3>@Model.Item1.FolderName</h3>

<img src="@Model.Item1.Poster" alt="Ekki til mynd" width="320" height="320" />

<div id="btnRitstyring">
    <label class="btn btn-default btn-lg">
        @Html.ActionLink("Ritstýring", "TextEdit", new { id = Model.Item2.First().ID })
    </label>
</div>

<div>
    <dl class="dl-horizontal" id="folderTags">
        <dt>
            @Html.Label(Model.Item1.FolderName, "Nafn:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FolderName)
        </dd>

        <dt>
            @Html.Label(Model.Item1.Link, "Linkur:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Link)
        </dd>

        <dt>
            @Html.Label(Model.Item1.Description, "Lýsing:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>

    </dl>
</div>

<div>
    <table class="table-striped" id="folderContent">
        @{ var dummy = Model.Item2.FirstOrDefault(); }
        <tr>
            <th>
                @Html.LabelFor(model => dummy.SubName, "Textaskrá")
            </th>
            <th>
                @Html.LabelFor(model => dummy.LanguageID, "Tungumál")
            </th>
            <th>
                Enska
            </th>
            <th>
                Íslenska
            </th>
            <th>

            </th>
        </tr>
        @{ var dumdum = Model.Item4; }
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageID)
                </td>
                <td>
                    @Html.ActionLink("Download", "GetFile", new { id = dumdum.FirstOrDefault().ID, langid = 1 })

                </td>
                <td>
                    @Html.ActionLink("Download", "GetFile", new { id = dumdum.FirstOrDefault().ID, langid = 2 })
                </td>
                <td>                    
                    @Html.ActionLink("Edit", "Edit", new { id = dumdum.FirstOrDefault().ID }) |
                    @Html.ActionLink("Details", "Details", new { id = dumdum.FirstOrDefault().ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = dumdum.FirstOrDefault().ID })
                </td>
            </tr>
        }
    </table>
</div>

<hr/>
<h3>Athugasemdir</h3>

@{ Html.RenderPartial("ShowComments", Tuple.Create(Model.Item3, Model.Item1)); }