@model Tuple<Allomorph.Models.Folder, IEnumerable<Allomorph.Models.SubFile>, IEnumerable<Allomorph.Models.Comment>>

@{
    ViewBag.Title = "Upplýsingar um textaskrá";
}

@{ Html.RenderPartial("Search", Model.Item1); }


<h3>@Model.Item1.FolderName</h3>

<img src="@Model.Item1.Poster" alt="Ekki til mynd" width="320" height="320" />

<div>
    @Html.ActionLink("Ritstýring", "TextEdit", Model.Item2.ID)
</div>

<div>
    <dl class="dl-horizontal" id="folderTags">
        <dt>
            @Html.Label(Model.Item1.FolderName, "Nafn:", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.FolderName)
        </dd>

        <dt>
            @Html.Label(Model.Item1.Link, "Linkur:", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Link)
        </dd>

        <dt>
            @Html.Label(Model.Item1.Description, "Lýsing:", new { @class = "control-label col-md-2" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Description)
        </dd>

    </dl>
</div>

<div>
    <table class="table" id="folderContent">
        @{ var dummy = Model.Item2.FirstOrDefault(); }
        <tr>
            <th>
                @Html.LabelFor(model => dummy.SubName, "Textaskrá", new { @class = "control-label col-md-2" })
            </th>
            <th>
                @Html.LabelFor(model => dummy.LanguageID, "Tungumál", new { @class = "control-label col-md-2" })
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Item2)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageID)
                </td>
                <td>
                    @Html.ActionLink("Download", "GetFile", new { id = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h3>Athugasemndir</h3>

@{ Html.RenderPartial("ShowComments", Tuple.Create(Model.Item3, Model.Item1)); }