@*@model IEnumerable<Allomorph.Models.Folder>*@
@model PagedList.IPagedList<Allomorph.Models.Folder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h2>Textar</h2>

<p>
    @Html.ActionLink("Senda inn nýja skrá", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nafn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Sett inn", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FolderName, "Details", new { id = item.ID })
        </td>

        <td>
            @Html.ActionLink(item.DateCreated.ToString(), "Details", new { id = item.ID })
        </td>
        
        <td>
            @Html.ActionLink("Download","GetFile",new { id = item.ID}) |
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))