@model PagedList.IPagedList<Allomorph.Models.Folder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Textar";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Textar</h3>

@*<div id="btnBuaTilTexta">
    <label>
        @Html.ActionLink("Senda inn nýja skrá", "Create", "Request", new { @class = "list-group-item" })
    </label>
</div>*@

<div id="btnBuaTilTexta">
    <input type="submit" value="Senda inn nýja skrá" class="btn btn-default btn-lg btn-success" onclick="location.href='@Url.Action("Create", "Folder")'" />
</div>

<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>
            Nr.
        </th>
        <th>
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            @Html.ActionLink("Nafn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            <span class="glyphicon glyphicon-sort"></span>
            @Html.ActionLink("Sett inn", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>
@{ int i = 1; }
@foreach (var item in Model) {
    <tr>
        <td>
            @{ var nr = Model.PageNumber - 1; }
            @if (Model.PageNumber != 1)
            {
                if (i == 10)
                {
                    i = 0;
                    nr += 1;
                }@nr
            }@i
        </td>
        <td>
            @Html.ActionLink(item.FolderName, "Details", new { id = item.ID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateCreated, "Details")
        </td>
        
        <td>
            @Html.ActionLink("Breyta", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Eyða", "Delete", new { id = item.ID })
        </td>
    </tr>
    i++;
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))