@model PagedList.IPagedList<Allomorph.Models.Folder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Textar";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Textar</h3>

<div id="btnBuaTilTexta">
    <label>
        @Html.ActionLink("Senda inn nýja skrá", "Create", "Request", new { @class = "list-group-item" })
    </label>
</div>

<table class="table">
    <tr>
        <th>
            Nr.
        </th>
        <th>
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            @Html.ActionLink("Nafn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            <span class="glyphicon glyphicon-sort"></span>
            @Html.ActionLink("Sett inn", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>
@{ int i = 1; }
@foreach (var item in Model) {
    <tr>
        <td class="nrlist">
            @if (Model.PageNumber != 1)
            {
                @Model.PageNumber
                if (i == 10)
                {
                    i = 0;
                }
            }
            @i
        </td>
        <td>
            @Html.ActionLink(item.FolderName, "Details", new { id = item.ID })
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateCreated, "Details")
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
    i++;
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))