@model Tuple<IEnumerable<Allomorph.Models.Comment>, Allomorph.Models.Folder>

<div>
    <button type="button" class="btn-default btn-success btn-lg" onclick="location.href='@Url.Action("CreateComment", "Folder", new { id = Model.Item2.ID })'"><i class="icon-edit"></i>Skrá nýja athugasemd</button>
</div>

<table class="table">
    @{ var dummy = Model.Item1.FirstOrDefault(); }
    <tr>
        <th>
            @Html.LabelFor(model => dummy.DateCreated, "Notandi")
        </th>
        <th>
            @Html.LabelFor(model => dummy.CommentText, "Athugasemd")
        </th>
        <th>
            @Html.LabelFor(model => dummy.DateCreated, "Dagsetning")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Item1) {
    <tr>
        <td>
            <span class="glyphicon glyphicon-user"></span>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td></td>
    </tr>
}

</table>
