@model IList<Allomorph.Models.LinesAndTranslations>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<div class="panel panel-default">

    @using (Html.BeginForm("TextEdit",
                            "Folder",
                            FormMethod.Post,
                            new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


    <table class="table">
        <tbody>
            <tr>
                <th class="textEditLineNr">Lina</th>
                <th>Enskur Texti</th>
                <th>Islenskur Texti</th>
            </tr>

           @for (var s = 0; s < Model.Count(); s++)
            {
            <tr>
                <td class="textEditLineNr">@Html.DisplayFor(ModelItem => ModelItem[s].LineNr)</td>
                <td >
 
                        @Html.TextAreaFor(ModelItem => ModelItem[s].EngText, new { @class = "textEditTranslation" })
                        @Html.HiddenFor(ModelItem => ModelItem[s].SubLineId)
                
                   
                </td>
                <td class="textEditTranslation">@Html.TextAreaFor(ModelItem => ModelItem[s].IceText, new { @class = "textEditTranslation" })</td>
            </tr>
            }
                
       
        </tbody>
    </table>
    <input type="submit" value="Uppfæra" class="btn btn-default" />
     }
</div>