@model IEnumerable<Allomorph.Models.LinesAndTranslations>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="textEditLineNr">Línunúmer</th>
                <th>Enskur texti</th>
                <th>Íslenskur texti</th>
            </tr>
            @using (Html.BeginForm("TextEdit",
                                    "Folder",
                                    FormMethod.Post,
                                    new { @enctype = "multipart/form-data" }))
            {
                foreach (var s in Model)
                {
                    <tr>
                        <td class="textEditLineNr">
                            @Html.DisplayFor(ModelItem => s.LineNr)
                        </td>
                        <td class="textEditTranslation">
                            @Html.TextAreaFor(ModelItem => s.EngText, new { @class = "textEditTranslation" })
                            @*@Html.Hidden("TextEdit", new { lineId = s.SubLineId})

                            @Html.Hidden("TextEdit", new { text = s.EngText})
                            @Html.Hidden("TextEdit", new { languageId = 1})*@

                            <input type="submit" value="Uppfæra" class="btn btn-default" />
                        </td>
                        <td class="textEditTranslation">
                            @Html.TextAreaFor(ModelItem => s.IceText, new { @class="textEditTranslation"})
                            <input type="submit" value="Uppfæra" class="btn btn-default" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>