@model PagedList.IPagedList<Allomorph.Models.LinesAndTranslations>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

@using (Html.BeginForm("TextEdit",
                            "Folder",
                            new { folderId = @ViewBag.folderid },
                            FormMethod.Post,
                            new { @enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()
    <div class="btnPaddingBottom">
        <input type="submit" value="Vista breytingar" class="btn btn-default btn-lg btn-primary" />
    </div>
    
        <div class="panel panel-default">
            <table class="table table-condensed">
                <tr>
                    <th class="textEditLineNr">
                        Línunúmer
                    </th>
                    <th class="textEditLineNr">
                        Byrjar
                    </th>
                    <th></th>
                    <th>
                        Endar
                    </th>
                    <th>
                        Enskur texti
                    </th>
                    <th>
                        Íslenskur texti
                    </th>
                </tr>

                @for (var s = 0; s < Model.Count(); s++)
                {
                    <tr>
                        <td class="textEditLineNr">
                            @Html.DisplayFor(ModelItem => ModelItem[s].LineNr)
                        </td>
                        <td>
                            @Html.EditorFor(ModelItem => ModelItem[s].SubFileLineStartTime)
                        </td>
                        <td>
                            -->
                        </td>
                        <td>
                            @Html.EditorFor(ModelItem => ModelItem[s].SubFileLineEndTime)
                        </td>
                        <td class="textEditTranslation">
                            @Html.TextAreaFor(ModelItem => ModelItem[s].EngText, new { @class = "textEditTranslation" })
                            @Html.HiddenFor(ModelItem => ModelItem[s].SubLineId)
                        </td>
                        <td class="textEditTranslation">
                            @Html.TextAreaFor(ModelItem => ModelItem[s].IceText, new { @class = "textEditTranslation" })
                        </td>
                    </tr>
                }
            </table>
        </div>
}
<div>
    <input type="submit" value="Til baka í möppu" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Folder", new { id = @ViewBag.folderid })'" />
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("TextEdit",
    new { page }))
