@model IEnumerable<Allomorph.Models.LinesAndTranslations>

@{
    ViewBag.Title = "TextEdit";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Ritstýring</h3>

<div class="panel panel-default">
    <table class="table">
        <tbody>
            <tr>
                <th class="textEditLineNr">Lina</th>
                <th>Enskur Texti</th>
                <th>Islenskur Texti</th>
            </tr>
            @foreach (var s in Model)
            {
                
            <tr>
                <td class="textEditLineNr">@Html.DisplayFor(ModelItem => s.LineNr)</td>
                <td >
                    @using (Html.BeginForm("TextEdit",
                        "Folder",
                        FormMethod.Post,
                        new { @enctype = "multipart/form-data" }))
                    { 
                        @Html.TextAreaFor(ModelItem => s.EngText, new { @class="textEditTranslation"})
                        @*@Html.Hidden("TextEdit", new { lineId = s.SubLineId})

                        @Html.Hidden("TextEdit", new { text = s.EngText})
                        @Html.Hidden("TextEdit", new { languageId = 1})*@
                       
                        <input type="submit" value="Uppfæra" class="btn btn-default" />
                    }
                </td>
                <td class="textEditTranslation">@Html.TextAreaFor(ModelItem => s.IceText, new { @class="textEditTranslation"})</td>
            </tr>
            }

        </tbody>
    </table>
</div>