@model Allomorph.Models.Request

@{
    ViewBag.Title = "Breyta beiðni";
}

<h3>Breyta beiðni @Model.RequestName</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @Html.HiddenFor(model => model.RequestName)
        <div class="form-group">
            @Html.LabelFor(model => model.RequestName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RequestName)
                @Html.ValidationMessageFor(model => model.RequestName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestText, new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="textAreaFor">
                @Html.TextAreaFor(model => model.RequestText)
                @Html.ValidationMessageFor(model => model.RequestText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Til baka í beiðnir", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}