@model PagedList.IPagedList<Allomorph.Models.Request>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Beiðnir";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h3>Beiðnir</h3>

<div id="btnBuaTilBeidni">
    <input type="submit" value="Búa til nýja beiðni" class="btn btn-default btn-lg btn-success" onclick="location.href='@Url.Action("Create", "Request")'" />
</div>

@using (Html.BeginForm("Index", "Request", FormMethod.Get))
{      
    <div role="search">
        <div class="form-group" id="leitFormBeidnir">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "  Leita í beiðnum..." })
        </div>
        <button id="btnLeitBeidnir" class="btn btn-default" type="submit">Leita!</button>
    </div>
}

<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>
            Nr.
        </th>
        <th class="requestTable">
            <span class="glyphicon glyphicon-sort-by-alphabet"></span>
            @Html.ActionLink("Nafn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class="requestTable">
            @Html.ActionLink("Lýsing", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            <span class="glyphicon glyphicon-sort"></span>
            @Html.ActionLink("Atkvæði", "Index", new { sortOrder = ViewBag.VoteSortParm })
        </th>
        <th>
            <span class="glyphicon glyphicon-sort"></span>
            @Html.ActionLink("Dagsetning", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>
    @{ int i = 1; }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{ var nr = Model.PageNumber - 1; }
                @if (Model.PageNumber != 1)
                {
                    if (i == 10)
                    {
                        i = 0;
                        nr += 1;
                    }@nr
                }@i
            </td>
            <td>
                @Html.ActionLink(item.RequestName, "Create", "Folder", new { requestID = item.ID }, null)
            </td>
            <td id="reqTextColumn">
                @Html.DisplayFor(modelItem => item.RequestText)
            </td>
            <td id="reqVoteColumn">
                <a href="@Url.Action("RequestVote", "Request", new { requestID = item.ID })">
                    <span id="voteReqBtn" class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                @Html.DisplayFor(modelItem => item.ReqUpvoteCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Breyta", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Eyða", "Delete", new { id = item.ID })
            </td>
        </tr>
                i++;
    }
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))