@model PagedList.IPagedList<Allomorph.Models.Request>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

@{ Html.RenderPartial("Search", new Allomorph.Models.Folder()); }

<h2>Beiðnir</h2>

@using (Html.BeginForm("Index", "Request", FormMethod.Get))
{
    <div class="input-group" id="leitFormBeidnir">
        <div id="leitBeidnir">
            <p>
                @*@Html.TextBoxFor(m => m.currentFilter, new {placeholder = "   Leita...", style = "width:200px;height32px" })*@
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "  Leita í beiðnum...", style = "width:200px;height:32px" })
                <button id="btnLeitBeidnir" class="btn btn-default" type="submit">Leita!</button>
            </p>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Búa til nýja beiðni", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nafn", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Lýsing", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Atkvæði", "Index", new { sortOrder = ViewBag.VoteSortParm })
        </th>
        <th>
            @Html.ActionLink("Dagsetning", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.RequestName, "Create", "Folder", new { requestID = item.ID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReqUpvoteCounter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))